section.wrapper(ng-init="getUser()")
  section.wrapper_centered
    h2.alert.alert-danger(ng-if='errorMessage') {{errorMessage}}
    h2.alert.alert-success(ng-if='successMessage') {{successMessage}}
    h1 User: {{user.name}}
    button.btn.btn_turquoise(ng-click="edit()" ng-if='!editable') Edit
    table.list.user-detail-list(ng-if='!editable')
      tr
        td E-Mail:
        td {{user.email}}
      tr
        td Admin:
        td {{user.isAdmin === 'true' ? 'Yes' : 'No'}}

    form.edit-user-form.form-table(ng-if='editable')
      button.btn.btn_turquoise(ng-click="update()") Save
      button.btn.btn_red(ng-click="reset()") Cancel
      table.list
        tr(ng-class="{'error': validationErrors.name}")
          td Name:
          td
            input(type="text" ng-model="user.name")
            span.validation_error_message(ng-if='validationErrors.name') {{validationErrors.name[0]}}
        tr(ng-class="{'error': validationErrors.email}")
          td E-Mail:
          td
            input(type="text" ng-model="user.email")
            span.validation_error_message(ng-if='validationErrors.email') {{validationErrors.email[0]}}
        tr(ng-class="{'error': validationErrors.isAdmin}")
          td Admin:
          td
            select(ng-model="user.isAdmin")
              option(value='true') Yes
              option(value='false') No
            span.validation_error_message(ng-if='validationErrors.isAdmin') {{validationErrors.isAdmin[0]}}
        tr(ng-class="{'error': validationErrors.password}")
          td Password:
          td
            input(type="password" ng-model="user.password")
            span.validation_error_message(ng-if='validationErrors.password') {{validationErrors.password[0]}}
        tr(ng-class="{'error': validationErrors.passwordConfirmation}")
          td Password confirmation:
          td
            input(type="password" ng-model="user.passwordConfirmation")
            span.validation_error_message(ng-if='validationErrors.passwordConfirmation') {{validationErrors.passwordConfirmation[0]}}
