logs
*.log

pids
*.pid
*.seed

.cover*
reports
debug

# Is compile from the config/redis.conf.tmpl files via 'gulp redis-config'
config/redis.conf

bower_components
node_modules
public/**/*
public/**/*
public/fonts/**/*
.DS_Store
.tmp
*.sass-cache
lib/http/web/assets/css/**/*.css
!**/*.gitkeep
