extends ../layout
  
block head

block content
  .jumbotron
        h1 gendok
        p
          | Document generation as a service
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more &raquo;
      .page-header
