extends ../layout
  
block head

block content
  .jumbotron
        h1 gendok
        p
          | Document generation as a service
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more &raquo;
      .page-header
        h1 Buttons
      p
        button.btn.btn-lg.btn-default(type='button') Default
        button.btn.btn-lg.btn-primary(type='button') Primary
        button.btn.btn-lg.btn-success(type='button') Success
        button.btn.btn-lg.btn-info(type='button') Info
        button.btn.btn-lg.btn-warning(type='button') Warning
        button.btn.btn-lg.btn-danger(type='button') Danger
        button.btn.btn-lg.btn-link(type='button') Link
      p
        button.btn.btn-default(type='button') Default
        button.btn.btn-primary(type='button') Primary
        button.btn.btn-success(type='button') Success
        button.btn.btn-info(type='button') Info
        button.btn.btn-warning(type='button') Warning
        button.btn.btn-danger(type='button') Danger
        button.btn.btn-link(type='button') Link
      p
        button.btn.btn-sm.btn-default(type='button') Default
        button.btn.btn-sm.btn-primary(type='button') Primary
        button.btn.btn-sm.btn-success(type='button') Success
        button.btn.btn-sm.btn-info(type='button') Info
        button.btn.btn-sm.btn-warning(type='button') Warning
        button.btn.btn-sm.btn-danger(type='button') Danger
        button.btn.btn-sm.btn-link(type='button') Link
