doctype html
html
  head
    title gendok
    script(src='/js/all.js')
    link(rel='stylesheet', href='/css/all.css')
    block head
  body
    .navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') gendok
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#templates') Templates
            li
              a(href='#jobs') Jobs
            
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Hello, Mr. Gugus!
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') My profile
                li.divider
                li
                  a(href='#') Logout
    .container
      block content
