section.wrapper#template_list(ng-init="getAlltemplates()") 
  section.wrapper_centered
    h2.alert.alert-danger(ng-if='errorMessage') {{errorMessage}}
    h2.alert.alert-success(ng-if='successMessage') {{successMessage}}
    h1 Templates
    button.btn(ui-sref="templateCreate()") Create Template
    table.table
      tr
        td ID
        td Name
        td Type
        td Created at
        td Updated at
        td 
      tr(ng-repeat='template in templates')
        td(ui-sref='templateViewUpdate({templateId: template.id})') {{template.id}}
        td(ui-sref='templateViewUpdate({templateId: template.id})') {{template.name}}
        td(ui-sref='templateViewUpdate({templateId: template.id})') {{template.type}}
        td(ui-sref='templateViewUpdate({templateId: template.id})') {{template.createdAt | date:"yyyy-MM-dd"}}
        td(ui-sref='templateViewUpdate({templateId: template.id})') {{template.updatedAt | date:"yyyy-MM-dd"}}
        td 
          button(class="btn btn-default"  ng-click="openConfirmMessage(template)") Delete 
            span
    section.confirmMessage(ng-if='confirmMessage')
      div
        h2 Confirm
        p Are your sure you want to delete the following template?
        span {{confirmTemplate.name}}
        div
          button.btn(ng-click="delete(confirmTemplate.id)") Delete
          button.btn.btn_red(ng-click="reset()") Cancel
