section.wrapper(ng-init="getTemplate()")
  section.wrapper_centered
    h2.alert.alert-danger(ng-if='errorMessage') {{errorMessage}}
    h2.alert.alert-success(ng-if='successMessage') {{successMessage}}
    h1 Template: {{template.name}}
    .template-details-split-left(ng-if='!editable && !payloadOptions')
      button.btn.btn_turquoise(ng-click="edit()") edit
      button.btn(ng-click="openPayloadOptions()") preview
      table.list.template-detail-list
        tr
          td Type:
          td {{template.type}}
        tr
          td Paper Format:
          td {{template.paperFormat}}
        tr
          td Margin:
          td {{template.paperMargin}}
        tr
          td Header Height:
          td {{template.headerHeight}}
        tr
          td Footer Height:
          td {{template.footerHeight}}
        tr
          td Body:
          td 
            pre {{template.body}}

    .template-details-split-left(ng-if='payloadOptions')
      form.edit-payload-form.form-table
        button.btn(ng-click="render(template, payload)") generate preview
        button.btn.btn_red(ng-click="reset()") cancel
        table.list
          tr
            td Payload:
            td 
              textarea.form-control(type="text" rows="10" ng-model="payload")
        
    .template-details-split-left(ng-if='editable')
      form.edit-template-form.form-table
        button.btn.btn_turquoise(ng-click="update(); hightlightFormatAttribute('')") save
        button.btn.btn_red(ng-click="reset(); hightlightFormatAttribute('')") cancel
        table.list
          tr(ng-class="{'error': validationErrors.name}")
            td Name:
            td 
              input(type="text" ng-model="template.name" ng-click="hightlightFormatAttribute('')")
              span.validation_error_message(ng-if='validationErrors.name') {{validationErrors.name[0]}}
          tr(ng-class="{'error': validationErrors.type}")
            td Type:
            td 
              select(ng-model="template.type" ng-click="hightlightFormatAttribute('')")
                option mustache
                option html
                option markdown
              span.validation_error_message(ng-if='validationErrors.type') {{validationErrors.type[0]}}
          tr
            td Paper Format:
            td 
              select(ng-model="template.paperFormat" ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('paperFormat')")
                option A5
                option A4
                option A3
          tr(ng-class="{'error': validationErrors.paperMargin}")
            td Paper Margin:
            td
              div.inline-inputs
                input(type="number" ng-model="template.paperMarginValue" ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('paperMargin')")
                select(ng-model="template.paperMarginUnit" ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('paperMargin')")
                  option px
                  option cm
              span.validation_error_message(ng-if='validationErrors.paperMargin') {{validationErrors.paperMargin[0]}}
          tr(ng-class="{'error': validationErrors.headerHeight}")
            td Header Height:
            td
              div.inline-inputs
                input(type="number" ng-model="template.headerHeightValue"  ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('headerHeight')")
                select(ng-model="template.headerHeightUnit"  ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('headerHeight')")
                  option px
                  option cm
              span.validation_error_message(ng-if='validationErrors.headerHeight') {{validationErrors.headerHeight[0]}}
          tr(ng-class="{'error': validationErrors.footerHeight}")
            td Footer Height:
            td
              div.inline-inputs
                input(type="number" ng-model="template.footerHeightValue"  ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('footerHeight')")
                select(ng-model="template.footerHeightUnit"  ng-change="updateFormatPreview()" ng-click="hightlightFormatAttribute('footerHeight')")
                    option px
                    option cm
              span.validation_error_message(ng-if='validationErrors.footerHeight') {{validationErrors.footerHeight[0]}}
          tr(ng-class="{'error': validationErrors.body}")
            td Body:
            td
              textarea.form-control(type="text" rows="10" ng-model="template.body" ng-click="hightlightFormatAttribute('')")
              span.validation_error_message(ng-if='validationErrors.body') {{validationErrors.body[0]}}
              
    .template-details-split-right
      #format-preview(ng-style="{\
        'background-color': template.formatPreviewPaperMarginColor \
      }")
        .current-paper-format(ng-style="{\
          'background-color': template.formatPreviewPaperFormatColor \
        }") {{template.paperFormat}}
        .content(ng-style="{\
          'height': 'calc(100% - (2 * ' + template.formatPreviewMargin + '))', \
          'width': 'calc(100% - (2 * ' + template.formatPreviewMargin + '))', \
          'margin-top': template.formatPreviewMargin \
        }")
          .header(ng-style="{\
            'height': template.formatPreviewHeaderHeight,\
            'background-color': template.formatPreviewHeaderHeightColor \
          }")
          .body(ng-style="{\
            'height': 'calc(100% - ' + template.formatPreviewHeaderHeight + ' - ' + template.formatPreviewFooterHeight + ')', \
            'top': template.formatPreviewHeaderHeight, \
            'background-image': 'url(css/img/format_preview_bg_' + template.paperFormat + '.svg)' \
          }")
          .footer(ng-style="{\
            'height': template.formatPreviewFooterHeight,\
            'background-color': template.formatPreviewFooterHeightColor \
          }")
