div
  h2.alert.alert-danger(ng-if='error_message') {{error_message}}
  h2.alert.alert-success(ng-if='success_message') {{success_message}}
  h2 Profile
  ul.list-group(ng-if='!editable')
    li.list-group-item Name: {{profile.name}}
    li.list-group-item E-Mail: {{profile.email}}
    li.list-group-item Admin: {{profile.isAdmin}}

  form(ng-if='editable')
    div.form-group(ng-class="{'error': validation_errors.name}")
      label.form-control-label Name:
      input.form-control(type="text" ng-model="profile.name" )
      span.validation_error_message(ng-if='validation_errors.name') {{validation_errors.name[0]}}
    div.form-group(ng-class="{'error': validation_errors.email}")
      label.form-control-label E-Mail:
      input.form-control(type="text" ng-model="profile.email" )
      span.validation_error_message(ng-if='validation_errors.email') {{validation_errors.email[0]}}
    div.form-group
      input(type="submit" class="btn btn-success" ng-click="update(profile)" value="save")
      =' '
      input(type="submit" class="btn btn-danger" ng-click="reset()" value="cancel")

  button(class="btn btn-info" ng-click="edit()" ng-if='!editable') edit
