doctype html
html
  head
    title [gendok] Confirm your e-mail address
  body
    h3 Hello #{name}
    p Welcome to gendok, please confirm your e-mail address by clicking the link below:
    a(href=confirmationLink) Confirm e-mail
    br
    p 
      .line Cheers,<br />
      .line The gendok Team
