doctype html
html
  head
    title [gendok] Reset your password
  body
    h3 Hello #{name}
    p Please reset your password by clicking the link below and setting a new password.
    a(href=resetPasswordLink) Reset
    br
    p 
      .line Cheers,<br />
      .line The gendok Team
